# Currently this is linked to from ~/.tmux.conf.
# Once tmux updates to 3.1, it can be linked to from ~/.config/tmux/tmux.conf

unbind C-b
set -g prefix C-Space

setw -g mode-keys vi

# recommended by :checkhealth in nvim
set-option -g focus-events on
set-option -sg escape-time 10

# Old switch panes using vi-like bindings --- replaced by vim-tmux-navigator
# (see below) 
# bind h select-pane -L
# bind l select-pane -R
# bind j select-pane -U
# bind k select-pane -D

# Bind m to zoom (think maximize) because z is awkward
unbind m
bind m resize-pane -Z

# Open new window / pane in current dir
bind c new-window -c "#{pane_current_path}"

# Default shell
set -g default-command /bin/zsh
set -g default-shell /bin/zsh

# Default terminal
set -g default-terminal "xterm-256color"
# set -g default-terminal "tilix"
# set -g default-terminal "screen-256color"
# set-option -sa terminal-overrides ',xterm-256color:RGB'

# Status line

set-option -g status-bg default
set-option -g status-fg white

set -g status-interval 1
set -g window-status-format '#I:#(pwd="#{pane_current_path}"; echo ${pwd####*/})'
set -g window-status-current-format '[#I:#(pwd="#{pane_current_path}"; echo ${pwd####*/})]'
set -g status-right-length 120
set -g status-right '#(date +"%b %_d %H:%M") | #(whoami)@#(hostname -s) '

# The following is all added for 'christoomey/vim-tmux-navigator'  

# Smart pane switching with awareness of Vim splits.
# See: https://github.com/christoomey/vim-tmux-navigator
is_vim="ps -o state= -o comm= -t '#{pane_tty}' \
    | grep -iqE '^[^TXZ ]+ +(\\S+\\/)?g?(view|l?n?vim?x?)(diff)?$'"
bind-key -n 'C-h' if-shell "$is_vim" 'send-keys C-h'  'select-pane -L'
bind-key -n 'C-j' if-shell "$is_vim" 'send-keys C-j'  'select-pane -D'
bind-key -n 'C-k' if-shell "$is_vim" 'send-keys C-k'  'select-pane -U'
bind-key -n 'C-l' if-shell "$is_vim" 'send-keys C-l'  'select-pane -R'
tmux_version='$(tmux -V | sed -En "s/^tmux ([0-9]+(.[0-9]+)?).*/\1/p")'
if-shell -b '[ "$(echo "$tmux_version < 3.0" | bc)" = 1 ]' \
    "bind-key -n 'C-\\' if-shell \"$is_vim\" 'send-keys C-\\'  'select-pane -l'"
if-shell -b '[ "$(echo "$tmux_version >= 3.0" | bc)" = 1 ]' \
    "bind-key -n 'C-\\' if-shell \"$is_vim\" 'send-keys C-\\\\'  'select-pane -l'"

bind-key -T copy-mode-vi 'C-h' select-pane -L
bind-key -T copy-mode-vi 'C-j' select-pane -D
bind-key -T copy-mode-vi 'C-k' select-pane -U
bind-key -T copy-mode-vi 'C-l' select-pane -R
bind-key -T copy-mode-vi 'C-\' select-pane -l
